.bg-head {
    background-image: url('../imgs/foto/banner_head.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #050505;
}
.header__nav {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.header__menu-lang {
    display: flex;
}
.menu_mobil{
    display: none;
}
.menu__list {
    display: none;
    position: absolute;
    background-color: #E5E5E5;
    transition: 0.2s;
}
.menu__item {
    border-bottom: 1px solid #000;
    padding: 2px 20px 5px 2px;
    &:hover {
        transition: 0.2s;
        background-color: #918e8e;
    }
}
.menu__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    transition: 0.2s;
    &:hover {
        transition: 0.2s;
        color: #FFFFFF;
    }
}
.menu {
    margin-right: 35px;
    &:hover .menu__list {
        display: block;
    }
}
.menu__img {
    cursor: pointer;
    padding-bottom: 5px;
}
.langbtn {
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-right: 8px;
    padding-bottom: 5px;
    cursor: pointer;
    &::after {
    content: url('../imgs/icon/arrow.svg');
    position: absolute;
    height: 16px;
    width: 16px;
    padding-bottom: 5px;
    right: -15px;
    top: 1px;
    }
}
.lang {
    position: relative;
    display: inline-block;
    &:hover .lang__list {
        display: block;
    }
}
.lang__list {
    display: none;
    position: absolute;
    background-color: #E5E5E5;
}
.lang__selection {
    color: black;
    text-decoration: none;
    display: block;
}
.header__list {
    display: flex;
    align-items: center;
}
.header__item {
    margin-right: 45px;
    &:last-child {
        margin-right: 0;
    }
}
.header__link {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.02em; 
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    transition: 0.5s;
    &:hover {
        transition: 0.5s;
        color: #F0145A;
    }
}
.search-mobil {
    display: none;
}
.search {
    display: flex;
    max-width: 111px;
    line-height: 13px;
   
}
.search__input {
    background-color: transparent;
    border: none;
    width: 100%;
    color: #FFFFFF;
    padding-left: 4px;
    &::placeholder {
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &:focus::-webkit-input-placeholder {
        color: transparent
    }
     &:focus::-webkit-input-placeholder {
        color: transparent
    }
    &:focus::-moz-placeholder {
    color: transparent
    }
    
    &:focus:-moz-placeholder {
    color: transparent
    }
    
    &:focus:-ms-input-placeholder {
    color: transparent
    }
}
.search__btn {
    padding: 0 5px ;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.logo-head {
    text-align: center;
    padding: 32px 0 30px 0;
}
.logo-head__link {
    display: inline-block;
}
.text-head {
    display: flex;
    padding-bottom: 241px;
}
.side-head__list {
    margin-right: 214px;
}
.side-head__item {
    margin-bottom: 72px;
    &:last-child {
        margin-bottom: 0;
    }
}
.side-head__link {
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.2s;
    &:hover {
        transition: 0.2s;
        color: #5435dd;
    }
}
.about-head {
    margin-right: 247px;
}
.description-head {
    padding-top: 205px;
    margin-bottom: 48px;
    text-indent: 24px;
    font-family: 'Gramatika Demo Slanted';
    font-style: italic;
    font-weight: 400;
    width: 216px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.description-head__date {
    text-transform: uppercase;
    letter-spacing: 0.06em;
}
.title-head__description {
    padding-top: 66px;
    font-family: 'Kudryashev Headline';
    font-weight: 400;
    font-size: 80px;
    line-height: 83px;
    color: #FFFFFF;
}
.title-head__name_margin {
    margin-left: 149px;
}
.title-head__name {
    font-family: 'Kudryashev Headline';
    font-weight: 400;
    font-size: 80px;
    line-height: 83px;
    color: #FFFFFF;
    text-decoration: none;
    
}
.title-head__name_stroke {
  -webkit-text-stroke: 1px #000000;
}
.subtext-head {
    display: flex;
    padding-bottom: 35px;
}
.subtext-head__description {
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 47px;
}
.subtext-head__by {
    text-transform: uppercase;
}
.subtext-head__link {
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.5s;
    &:hover {
        transition: 0.5s;
        color: #F0145A;
    }
}
.subtext-head__img {
    margin-right: 163px;
    align-self: flex-end;
}
.hvr-grow {
    display: block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    &:hover{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

