@media (max-width: 1375px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
    .bg-head {
        background-size: cover;
    }
    .logo-head__img {
        width: 100%;
        max-width: 926px;
    }
    .logo-head__img {
        max-width: 926px;
        width: 100%;
    }
    .side-head__list {
        margin-right: 200px;
    }
    .about-head {
        margin-right: 150px;
    }
    .title-head {
        width: 100%;
        max-width: 680px;
    }
    .title-head__name {
        font-size: 70px;
        line-height: 73px;
    }
    .title-head__description {
        font-size: 70px;
        line-height: 73px;
    }
    .title-head__name_margin {
        margin-left: 80px;
    }
    .news-cards__list {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .news-doublecards_margin {
        margin: 0;
    }
    .news-cards__item {
        margin-bottom: 50px;
    }
    .news-cards__item_big-card {
        margin-right: 0;
        margin-bottom: 80px;
    }
    .news-cards__item_big-card_reverse {
        margin-left: 0;
    }
    .news-doublecards {
        align-self: center;
    }
    .footer-text {
        flex-direction: column;
        align-items: center;
    }
    .footer-logo__link {
        margin-bottom: 30px;
    }

}

@media (max-width: 1124px) {
   
    .header__menu-lang {
        margin-right: 70px;
    }
    .search {
        margin-left: 10px;
    }
    .header__list {
        flex-wrap: wrap;
        justify-content: center;
    }
   
    .header__item {
        margin-right: 40px;
        margin-bottom: 20px;
        &:last-child {
            margin-right: 40px;
        }
    }
    .side-head__list {
        margin-right: 150px;
    }
    .text-head {
        flex-wrap: wrap;
        padding-bottom: 150px;
    }
    .about-head {
        margin-right: 40px;
        order: 2;
        margin-left: auto;
    }
    .description-head {
        padding-top: 50px;
    }
    .interview {
        background-position: center;
    }
    .footer-text__list {
        grid-column-gap: 60px;
    }
    
}
@media (max-width: 899px) {
    .title-head {
        max-width: 600px;
    }
    .side-head__list {
        margin-right: 120px;
    }
    .footer-social {
        flex-direction: column;
        align-items: center;
    }
    .footer-social__the-first {
        margin-left: auto;
    }
    .footer-social__list {
        flex-direction: column;
        margin-right: auto;
    }
    .footer-social__item {
        margin-bottom: 20px;
    }
    .footer-social__privacy {
        margin-left: 0;
        margin-right: auto;
    }
    .your-email {
        width: 100%;
        max-width: 610px;
    }
    .footer-input {
        width: 100%;
        max-width: 610px;
    }
    .footer-inside_bg {
        padding: 20px;
    }
    .footer-logo__img {
        width: 100%;
        max-width: 407px;
    }
    .hello-mail__link {
        font-size: 20px;
        line-height: 24px;
    }
}
@media (max-width: 799px) {
    .header__list {
        display: none;
    }
    .menu {
        display: none;
    }
    .menu_mobil {
        display: block;
    }
    .menu_mobil {
        margin-right: 60px;
        &:hover .menu__list {
            display: block;
        } 
    }
    .menu__item {
        padding: 10px 50px 10px 5px;
    }
    .menu__item_mob-padding {
        padding: 10px 20px 10px 5px;
    }
    .header__menu-lang {
        margin-right: 60px;
    }
    .search {
        margin-left: 0;
        max-width: 180px;
        line-height: 17px;
    }
    .search__input::placeholder {
        padding-left: 30px;
    }
    .search__img {
        width: 16px;
        height: 16px;
    }
    .search__btn {
        padding: 2px 10px 0 5px;
    }
    .side-head__list {
        margin-right: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .title-head__description {
        padding-top: 30px;
    }
    .side-head__item {
        margin: 0;
    }
    .subtext-head__link {
        font-size: 12px;
        line-height: 14px;
    }
    .subtext-head__description {
        width: 100%;
    }
    .subtext-head__img {
        margin-right: 120px;
    }
    .description-head {
        margin-bottom: 20px;
    }
    .news-cards__item {
       width: 100%;
    }
    .news-cards__img {
        width: 100%;
        max-width: 263px;
    }
    .news-cards__img_big {
        width: 100%;
        max-width: 541px;
    }
    .interview__title {
        flex-direction: column;
        margin-bottom: 50px;
    }
    .interview__title_name-link {
        font-size: 60px;
        line-height: 63px;
    }
    .interview__title_inter {
        font-size: 60px;
        line-height: 63px;
    }
    .subtext-head__description {
        font-size: 11px;
        line-height: 13px;
    }
    .news-cards_under {
        padding-top: 80px;
    }
    .decoration__list {
        padding: 8px 0 80px 0;;
    }
}
@media (max-width: 555px) {
    .news-btn {
        flex-direction: column;
    }
    .news-btn__link {
        margin-bottom: 5px;
    }
    .footer-text__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-text__item {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}